@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../public/fonts/Poppins-Bold.otf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("../public/fonts/Poppins-SemiBold.otf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../public/fonts/Poppins-Medium.otf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../public/fonts/Poppins-Regular.otf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("../public/fonts/Poppins-Light.otf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  src: url("../public/fonts/Poppins-ExtraLight.otf");
}

@font-face {
  font-family: "Poppins";
  font-weight: 100;
  src: url("../public/fonts/Poppins-Thin.otf");
}

html {
  height: max-content;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1A1B1E;
}
